html, body {
	height: 100%;
}

body {
	background-color: lightgray;
}

ul.tabs  {
	display: inline;
}

ul.tabs > li {
	display: inline-block;
	padding: 10px 20px;
}

div.messagelist {
	background-color: white;
	overflow-y: scroll;
}

div.messagelist > span {
	display: block;
}

div
.nicklist {
	background-color: white;
	text-align: right;
}