body {
	background-color: lightgray;
}

ul.tabs  {
	display: inline;
}

ul.tabs > li {
	display: inline-block;
	padding: 10px 20px;
}

div.messagelist {
	background-color: white;
	overflow-y: scroll;
	max-height: 400px;
}

div.messagelist > span {
	display: block;
}

div.nicklist {
	background-color: white;
	text-align: right;
	overflow-y: scroll;
	max-height: 400px;
}

div.ircinput {
	position: absolute;
	bottom: 0;
	width: 100%;
}