<header>
    <h3>IRC Web Chat</h3>
    {{if eq .Username ""}}
        <div class="linkbanner">
            Welcome Guest. 
            <a href="/register">Register</a> or Sign in: 
            <form action="/login" method="POST">
                <label>Username: <input type="text" name="Username"/></label>
                <label>Password: <input type="password" name="Password"/></label>
                <button type="submit">Login</button>
            </form>
        </div>
    {{else}}
        <div class="linkbanner">
            Welcome {{.Username}}! 
            <a href="/chat" {{if eq .Active "Chat"}}class="active"{{end}}>Chat</a> | 
            <a href="/settings" {{if eq .Active "Settings"}}class="active"{{end}}>Settings</a> | 
            <form action="/logout" method="POST"><button type="submit">Logout</button></form>
        </div>
    {{end}}
</header>