<!DOCTYPE html>
<html>
  <head>
      {{template "_head.html" .Title}}  
  </head>    
  <body>
      {{template "_header.html" .}}

      <h3>Register</h3>
      <form action="/register/" method="POST">
        <div><span>{{index .Errors "Model"}}</span></div>
        <div><label>Username: <input type="text" name="Username" value="{{.Username}}"/><span>{{index .Errors "Username"}}</span></label></div>
        <div><label>Email address: <input type="text" name="Email" value="{{.Email}}"/><span>{{index .Errors "Email"}}</span></label></div>
        <div><label>Password:<input type="password" name="Password" value="" /><span>{{index .Errors "Password"}}</span></label></div>
        <div><label>Confirm Password:<input type="password" name="ConfirmPassword" value="" /><span>{{index .Errors "ConfirmPassword"}}</span></label></div>
        <div><button type="submit">Register</button></div>
      </form>
  </body>
</html>